<!-- append to quickreply -->

<!-- IF SCRIPT_NAME == 'viewtopic' -->

<div id="my-div" style="display:none;">
My content ...
</div>

<script>
$(document).ready( function() {
    var myDiv = $('#my-div');
    $('#qr_postform div.panel div.inner').append(myDiv);
    myDiv.css('display', 'inherit');
});
</script>

<!-- ENDIF -->

<!-- append to posting box -->

<!-- IF SCRIPT_NAME == 'posting' -->

<div id="my-div" style="display:none;">
My content ...
</div>

<script>
$(document).ready( function() {
    var myDiv = $('#my-div');
    $('#postingbox div.inner').append(myDiv);
    myDiv.css('display', 'inherit');
});
</script>

<!-- ENDIF -->
